<a href="https://colab.research.google.com/github/stali1234/python/blob/main/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from google.colab import files
uploaded = files.upload()

Saving shirts.csv to shirts (1).csv

In [6]:
import io

df = pd.read_csv(io.BytesIO(uploaded['shirts.csv']))
df.head()

   Height  Weight Size
0     158      58    M
1     158      59    M
2     158      63    M
3     160      59    M
4     160      60    M

In [8]:
df.shape

(18, 3)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18 non-null     int64
 1   Weight  18 non-null     int64
 2   Size    18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [14]:
df.isna().sum()

Height    0
Weight    0
Size      0
dtype: int64

In [16]:
input_data = df[['Height','Weight']]
input_data.head()

   Height  Weight
0     158      58
1     158      59
2     158      63
3     160      59
4     160      60

In [19]:
output_data = df['Size']
output_data.head()

0    M
1    M
2    M
3    M
4    M
Name: Size, dtype: object

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Height  18 non-null     int64
 1   Weight  18 non-null     int64
 2   Size    18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

In [22]:
# in data frame all values must iin int or lfao

In [26]:
y_trans = pd.get_dummies(df['Size'] , drop_first=True)
y_trans

    M
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0

In [27]:
# separe the train and test dat

In [28]:
#train the model 
from sklearn.neighbors import  KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors = 5)

In [30]:
#train the model
knn.fit(input_data , y_trans)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [33]:
#testing the model using predict
answers = knn.predict(input_data)

In [35]:
answers

array([1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)

In [37]:
from sklearn.metrics import accuracy_score , confusion_matrix
accuracy_score(y_trans,answers)

0.8333333333333334

In [38]:
confusion_matrix(y_trans,answers)

array([[10,  1],
       [ 2,  5]])